USE [master]
GO
/****** Object:  Database [OOS_GEOCODE]    Script Date: 2/24/2020 9:15:10 AM ******/
CREATE DATABASE [OOS_GEOCODE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OOS_GEOCODE', FILENAME = N'D:\SQL\MSSQL14.MSSQLSERVER\MSSQL\DATA\OOS_GEOCODE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OOS_GEOCODE_log', FILENAME = N'D:\SQL\MSSQL14.MSSQLSERVER\MSSQL\DATA\OOS_GEOCODE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OOS_GEOCODE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OOS_GEOCODE]
GO
/****** Object:  Table [dbo].[OOS]    Script Date: 2/24/2020 9:15:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OOS](
	[OOS_Num] [int] IDENTITY(1,1) NOT NULL,
	[USDOT#] [int] NULL,
	[legal_name] [varchar](100) NULL,
	[state] [varchar](10) NULL,
	[city] [varchar](30) NULL,
	[street] [varchar](100) NULL,
	[zip] [varchar](6) NULL,
	[oos_reason] [varchar](50) NULL,
	[oos_date] [date] NULL,
	[status] [varchar](30) NULL,
	[GPSLatitude] [decimal](9, 6) NULL,
	[GPSLongitude] [decimal](9, 6) NULL,
PRIMARY KEY CLUSTERED 
(
	[OOS_Num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OOS] ON 

INSERT [dbo].[OOS] ([OOS_Num], [USDOT#], [legal_name], [state], [city], [street], [zip], [oos_reason], [oos_date], [status], [GPSLatitude], [GPSLongitude]) VALUES (1, 1228096, N'RICARDO GONZALES S AND D TRUCKING', N'CO', N'AURORA', N'760 IRONTON STREET', N'80010', N'New Entrant Revoked - Refusal of Audit/No Contact', CAST(N'2004-10-12' AS Date), N'INACTIVE', CAST(39.727382 AS Decimal(9, 6)), CAST(-104.863818 AS Decimal(9, 6)))
INSERT [dbo].[OOS] ([OOS_Num], [USDOT#], [legal_name], [state], [city], [street], [zip], [oos_reason], [oos_date], [status], [GPSLatitude], [GPSLongitude]) VALUES (2, 1094001, N'H V ENTERPRISES INC', N'CO', N'COMMERCE CITY', N'8550 ROSEMARY ST', N'80022', N'Unsatisfactory = Unfit', CAST(N'2004-11-01' AS Date), N'INACTIVE', CAST(39.851109 AS Decimal(9, 6)), CAST(-104.899215 AS Decimal(9, 6)))
INSERT [dbo].[OOS] ([OOS_Num], [USDOT#], [legal_name], [state], [city], [street], [zip], [oos_reason], [oos_date], [status], [GPSLatitude], [GPSLongitude]) VALUES (3, 1094001, N'H V ENTERPRISES INC', N'CO', N'COMMERCE CITY', N'8550 ROSEMARY ST', N'80022', N'90 day failure to pay fine', CAST(N'2005-03-14' AS Date), N'INACTIVE', CAST(39.851109 AS Decimal(9, 6)), CAST(-104.899215 AS Decimal(9, 6)))
GO
SET IDENTITY_INSERT [dbo].[OOS] OFF
USE [master]
GO
