USE [master]
GO
/****** Object:  Database [OOS_GEOCODE]    Script Date: 2/20/2020 9:49:14 AM ******/
CREATE DATABASE [OOS_GEOCODE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OOS_GEOCODE', FILENAME = N'D:\SQL\MSSQL14.MSSQLSERVER\MSSQL\DATA\OOS_GEOCODE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OOS_GEOCODE_log', FILENAME = N'D:\SQL\MSSQL14.MSSQLSERVER\MSSQL\DATA\OOS_GEOCODE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OOS_GEOCODE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OOS_GEOCODE]
GO
/****** Object:  Table [dbo].[OOS]    Script Date: 2/20/2020 9:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OOS](
	[OOS_Num] [int] IDENTITY(1,1) NOT NULL,
	[USDOT#] [int] NULL,
	[legal_name] [varchar](100) NULL,
	[state] [varchar](10) NULL,
	[city] [varchar](30) NULL,
	[street] [varchar](100) NULL,
	[zip] [varchar](6) NULL,
	[oos_reason] [varchar](50) NULL,
	[oos_date] [date] NULL,
	[status] [varchar](30) NULL,
	[GPSLatitude] [decimal](9, 6) NULL,
	[GPSLongitude] [decimal](9, 6) NULL,
PRIMARY KEY CLUSTERED 
(
	[OOS_Num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
