@page "/search"
@using System.Threading.Tasks


<h3>CompanySearch</h3>

<input class="search" list="results" @bind:"@SearchQuery" @bind:event="oninput" />

<datalist id="results">
    @foreach (string name in names.Take(10)) {
        <option value="@name"></option>
    }
</datalist>


@code {
    string searchQuery;
    List<string> names = new List<string> { "Jason", "Brendan", "Jeff", "Levi", "John" };
    List<string> results = new List<string>();

    string SearchQuery {
        get => searchQuery;
        set {
            searchQuery = value;
            if (!string.IsNullOrEmpty(searchQuery)) {
                _ = AutoFill(searchQuery);
            }
        }
    }

    async Task AutoFill(string query) {
        //Put query or service here
        await Task.Run(() => results = names.Where(name => name.Contains(query)).ToList());

        StateHasChanged();
    }
}


