@page "/search"

<h3>CompanySearch</h3>

<input class="search" list="results" @bind:"@SearchQuery" @bind:event="oninput" />

<datalist id="results">
    @foreach (string name in names.Take(10)) {
        <option value="@name"></option>
    }
</datalist>

@code {
    string searchQuery;
    List<string> names = new List<string> { "Jason", "Brendan", "Jeff", "Levi", "John" };
    List<string> results = new List<string>();

    string SearchQuery {
        get => searchQuery;
        set{
            searchQuery = value;
            if (!string.IsNullOrEmpty(searchQuery)) {
                _ = AutoFill(searchQuery);
            }
        }
    }

    async Task AutoFill(string query) {
        results = (List<string>)names.Where(name => name.StartsWith(query));
        StateHasChanged();
    }

    //List<string> Autofill() {
    //    List<string> results = new List<string>();

    //    foreach (string name in names) {
    //        if (name.Contains(SearchQuery)) {
    //            results.Add(name);
    //        }
    //    }

    //    return results;
    //}
}

